header{
  background-color:red;
  text-align:center;  
  border:1px solid black;
  box-sizing:border-box;
  font-family:verdana;
  
}

.column-1{
  background-color:blue;
  width:50%;
  height:1000px;
  float:left;
    border:1px solid black;
  box-sizing:border-box;
  font-family:verdana;
  }

.column-2{
  background-color:yellow;
  width:50%;
  height:1000px;
  float:right;
  border:1px solid black;
  box-sizing:border-box;
  font-family:verdana;
}

footer{
  background-color:black;
  clear:both;
  font-family:verdana;
}